body{
  display: flex;
  justify-content: center;
  column-gap: 30px;
  border: none;
  height: 100vh;
  align-items: center;
}
.name{
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: green;
}
.div1{
  background-color: white;
  border-left: 5px solid black;
  width: 400px;
  height: 55px;
  animation-name: animatate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function:steps(20);
  position: absolute;
}
@keyframes animatate {
  
  100%{
    transform: translatex(370px);
  }
}